.aboutme-container{
    padding: 0 3rem;
}

.aboutme-container h1, h2 {
    color: var(--DarkGrey);
    font-weight: 700;
    text-align: center;
}

.bio{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 769px){
    .bio{
        flex-direction: column;
    }
}

@media screen and (max-width: 426px){
    .aboutme-container{
        padding: 0 1em;
    }
}