.download-container{
    margin-left: 5em;
}

.download-container p{
    font-size: 125%;
    color: var(--DarkGrey);
}

button.resume-btn {
    background-color: var(--DarkGrey);
    color: var(--Cream);
    transition: 0.5s ease;
}

button.resume-btn:hover{
    background-color: var(--OrangeCream);
    color: var(--Cream);
}

@media screen and (max-width: 769px){
    .download-container{
        margin-top: 1em;
    }
}

@media screen and (max-width: 426px){
    .download-container{
        margin-left: 1em;
    }
}