.skill-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    margin: 0 auto;
    padding: 0 4em;
    width: 100%;
}

.front-end, .back-end{
    width: 40em;
}

.skill-header{
    font-size: 135%;
    text-align: center;
    font-weight: 600;
}

.skill-header, .skill p {
    color: var(--DarkGrey);
}

div.progress-container {
    flex-direction: column;
    height: 48px;
    margin-bottom: 2em;
}

div.bar{
    background-color: var(--OrangeCream);

}

.skill p{
    font-size: 150%;
    margin-bottom: 0
}

.icon{
    padding-right: 8px;
}

div.progress-bar{
    height: 100%;
}

@media screen and (max-width: 769px){
    .download-container{
        margin-top: 1em;
    }
    .skill-container{
        flex-direction: column;
        gap: 2em;
    }
    .front-end, .back-end{
    width: 100%;
    }
}

@media screen and (max-width: 426px){
    .download-container{
        margin-left: 1em;
    }
    .skill-container{
        padding: 0 1em;
    }
}