
.header-container{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0.5rem;
    margin-bottom: 2rem;
}

.header-name{
    font-size: 125%;
    margin: auto auto auto 5rem;
    color: var(--DarkGrey);
    
}

.header-name h1 {
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 426px){
    .header-name{
        margin-left: 1em;
    }
}