:root {
    --DarkGrey: #3e3d3e;
    --Silver: #B3B6B7;
    --Cream: #f7f3e3;
    --Blue: #004fff;
    --OrangeCream: #fea520;
}

* {
    background-color: var(--Cream);
    font-family: serif;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
