.Navbar{
    margin: auto 5rem auto auto;
    width: 45%;
}

.Navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.Nav-item{
    list-style-type: none;
    font-size: 125%;
}

.Nav-link{
    color: var(--OrangeCream);
    font-weight: 400;
    display: flex;
    text-decoration: none;
    position: relative;
}

.Nav-link::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--DarkGrey);
    transition: width 0.3s ease;
}

.Nav-link:hover::before{
    width: 100%;
    background-color: var(--DarkGrey); 
}

/* For offcanvas navbar */
nav.navbar{
    padding: 0;
    margin-right: 3em;
}

div.container-fluid{
    padding: 0;
}

a.nav-link.active{
    color: var(--OrangeCream) !important;
}

@media screen and (max-width: 800px){
    .Navbar{
        margin-right: 2em;
    }

    .Navbar-nav{
        padding: 0;
    }
}

@media screen and (max-width: 426px){
    nav.navbar{
        margin-right: 1em;
    }
}